extends ../layout

block content
  h1 #{author.name}
  p #{author.date_of_birth} - #{author.date_of_death}
  div
    h2 #{t('detail.books')}
    if author_books.length
      dl
        each book in author_books
          dt
            a(href=`/books/${book.id}`) #{book.title}
          dd #{book.summary}
    else
      p #{t('detail.noBookAuthors')}
