extends ../layout

block content
  h1 #{title}
  form(method='POST' action='createPost')
    div
      label(for='title') #{t('book.create_title')}:
      input(type='text' placeholder=t('book.create_placeholder_title') name='title' required value=(undefined === book ? '' : book.title))
      
    div
      label(for='author') #{t('book.create_author')}:
      select(name='author' required)
        each author in authors
          option(value=author.id selected=(book && book.author && book.author.id === author.id)) #{author.first_name}

    div
      label(for='summary') #{t('book.create_summary')}:
      textarea(type='text' placeholder=t('book.create_placeholder_summary') name='summary' required)= (undefined === book ? '' : book.summary)

    div
      label(for='isbn') #{t('book.create_isbn')}:
      input(type='text' placeholder=t('book.create_placeholder_isbn') name='isbn' required value=(undefined === book ? '' : book.isbn))

    div
      label #{t('book.create_genre')}:
      each genre in genres
        div
          input(type='checkbox' id=`genre_${genre.id}` name='genre' value=genre.id checked=(book && book.genres && book.genres.includes(genre.id)))
          label(for=`genre_${genre.id}`) #{genre.name}

    button(type='submit') #{t('create.book')}
    
    if errors
      ul
        for error in errors
          li!= error.msg
