extends ../layout

block content
  h1 #{bookinstance.id}

  p #[strong #{t('detail.book')}: ]
    a(href=`/books/${bookinstance.book.id}`) #{bookinstance.book.title}

  p #[strong #{t('detail.imprint')}: ] #{bookinstance.imprint}

  p #[strong #{t('detail.status')}: ]
    if bookinstance.status == BookInstanceStatus.AVAILABLE
      span #{bookinstance.status}
    else if bookinstance.status == BookInstanceStatus.MAINTENANCE
      span #{bookinstance.status}
    else
      span #{bookinstance.status}

  if bookinstance.status != BookInstanceStatus.AVAILABLE
    p #[strong #{t('detail.dueback')}: ] #{bookinstance.due_back}
